{% extends 'ConfigOrionBundle::layoutError.html.twig' %}
{% block body%}

<div class="jumbotron">
    <h1>Error de conexi&oacute;n inesperado.</h1>
    <p>Ha ocurrido alg&uacute;n error en la conexi&oacute;n con la Base de Datos o con el servidor anfitri&oacute;n del sistema. Por favor dir&iacute;jase a la p&aacute;gina principal de la aplicaci&oacute;n para continuar.</p>
    <hr style="border: 1px solid #AAAAAA;" />
    <p>
        <a href="{{ path('instancia') }}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-home"></span> P&aacute;gina inicial</a>             
    </p>
</div> 


{% endblock%}