{% extends 'ConfigOrionBundle::layoutError.html.twig' %}
{% block body%}

<div class="jumbotron">
    <h1>Acceso denegado!!!</h1>
    <p>Ud. no tiene acceso a esta p&aacute;gina o recurso. Conctacte con el administrador para mayor informaci&oacute;n. Por favor dir&iacute;jase a la p&aacute;gina principal de la aplicaci&oacute;n para continuar.</p>
    <hr style="border: 1px solid #AAAAAA;" />
    <p>
        <a href="{{ path('instancia') }}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-home"></span> P&aacute;gina inicial</a>
    </p>
</div> 


{% endblock%}