{% extends 'ConfigOrionBundle::layoutError.html.twig' %}
{% block body%}

<div class="jumbotron">
    <h1>L&iacute;mite de conexiones excedido!!!</h1>
    <p>Se ha alcanzado el l&iacute;mite de conexiones desde esta direcci&oacute;n web. Por favor dir&iacute;jase a la p&aacute;gina principal de la aplicaci&oacute;n para continuar.</p>
    <hr style="border: 1px solid #AAAAAA;" />
    <p>
        <a href="{{ path('instancia') }}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-home"></span> P&aacute;gina inicial</a>
    </p>
</div> 


{% endblock%}