{% extends 'ConfigOrionBundle::layout.html.twig' %}
{% block body%}
<h1>P&aacute;gina de inicio de Ori&oacute;n Configurer</h1>
<p>
    Esta es la p&aacute;gina de inicio del m&oacute;dulo de configuraci&oacute;n web del mecanismo de rastreo Nutch 1.5.1.
</p>
Nombre de usuario: {{ nombre }} <br />
Contrase&ntilde;a: {{ app.user.password }} <br /><br />


{% endblock%}